<div class="col-sm-4">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ posts_count }}</h4>
            <p class="card-text">Articles</p>
            <a href="{{ path_for('blog.admin.index') }}" class="btn btn-primary">Voir les articles</a>
        </div>
    </div>
</div>