<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>

<nav class="navbar fixed-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">Mon application</a>
    <ul class="nav navbar-nav">
        {% if module_enabled('BlogModule') %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path_for('blog.index') }}">Blog <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="container">

    {% if flash('error') %}
    <div class="alert alert-danger">
        {% for msg in flash('error') %}
        {{ msg }}
        {% endfor %}
    </div>
    {% endif %}

    {% if flash('success') %}
        <div class="alert alert-success">
            {% for msg in flash('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}

</div><!-- /.container -->

</body>
</html>