{% extends('layout.twig') %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-3">
                <div class="card">
                    <h4 class="card-header">{{ post.name }}</h4>
                    <div class="card-block">
                        <p class="card-text">
                            {{ post.content | excerpt }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}